<ion-view view-title="Academic">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chats.data | orderBy:'-when'"
                class="item-chat item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap">
        <img ng-src="{{ chat.picture }}" >
        <h2>{{ chat.name }}</h2>
        <p>{{ chat.summary }}</p>
       <!--  <p>{{ chat.lastMessage.text }}</p> -->
        <span class="last-message-timestamp">Uploaded at {{ chat.lastMessage.timestamp | calendar }}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <br>
        <div ng-init="showEventProfile=false">    
        <button ng-click="showEventProfile=true"> 
            Learn more about this event: 
        </button> 
        <br>
          
        <div class="showEventProfile" ng-show="showEventProfile"> 
             <h2>Info for {{ chat.name }}</h2>
             <p>About this event: {{ chat.description }}</p>
             <p>Location: {{ chat.location }}</p>
             <p>Date and Time: {{ chat.when }}</p>
              
              <button ng-click="showEventProfile=false"> 
              Close 
              </button> 
        </div> 
       

        <ion-option-button class="button-assertive" ng-click="chats.remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>