<ion-view view-title="Make Event">
  <ion-content>

    <label class="item-input-wrapper">
      <input ng-model="chat.myname"
            placeholder="Your event name"
            dir="auto"
            type="text"
            on-return="chat.closeKeyboard()"
            on-focus="chat.inputUp()"
            on-blur="chat.inputDown"/>
    </label>


    <label class="item-input-wrapper">
      <input ng-model="chat.myeventType"
            placeholder="Your event type"
            dir="auto"
            type="text"
            on-return="chat.closeKeyboard()"
            on-focus="chat.inputUp()"
            on-blur="chat.inputDown"/>
    </label>


    <label class="item-input-wrapper">
      <input ng-model="chat.mysummary"
            placeholder="Your event summary"
            dir="auto"
            type="text"
            on-return="chat.closeKeyboard()"
            on-focus="chat.inputUp()"
            on-blur="chat.inputDown"/>
    </label>


    <label class="item-input-wrapper">
      <input ng-model="chat.mydescription"
            placeholder="Your event description"
            dir="auto"
            type="text"
            on-return="chat.closeKeyboard()"
            on-focus="chat.inputUp()"
            on-blur="chat.inputDown"/>
    </label>


    <label class="item-input-wrapper">
      <input ng-model="chat.mylocation"
            placeholder="Your event location"
            dir="auto"
            type="text"
            on-return="chat.closeKeyboard()"
            on-focus="chat.inputUp()"
            on-blur="chat.inputDown"/>
    </label>

    <button ng-click="chat.myNewEvent()" class="button button-clear button-positive">Create Event</button> 

  </ion-content>



</ion-view>