<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

  <ion-tab title="Make Event" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" href="#/tab/makeEvent">
    <ion-nav-view name="tab-makeEvent"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Academic" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/tab/academic">
    <ion-nav-view name="tab-academic"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Club" icon-on="ion-ios-basketball" icon-off="ion-ios-basketball-outline" href="#/tab/club">
    <ion-nav-view name="tab-club"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Social" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>